body {
  background-color: #adebe0;
}
.container {
  display: flex;
  justify-content: center;
  background-color: #D1E8E4;
 }

button {
  background-color: #C37B89;
  color: #fff;
  border: none;
  margin-top: 20px;
  padding: 10px;
}